# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Johnson Algorithm/.vs/Johnson Algorithm/v17/Browse.VC.opendb
Johnson Algorithm/.vs/Johnson Algorithm/FileContentIndex/48f3bd1f-375b-4428-91a1-c9d69a79a850.vsidx
JohnsonAlgorithm/.vs/JohnsonAlgorithm/FileContentIndex/047a1db4-769b-4a66-aa40-cfa95865e974.vsidx
JohnsonAlgorithm/.vs/JohnsonAlgorithm/FileContentIndex/1aa1156a-e74f-4891-b971-540e48696f78.vsidx
JohnsonAlgorithm/.vs/JohnsonAlgorithm/FileContentIndex/414aca4a-08b5-4084-b153-212c012f9b34.vsidx
JohnsonAlgorithm/.vs/JohnsonAlgorithm/FileContentIndex/529a5ef4-6a5b-4cab-9759-b244bb2224cc.vsidx
JohnsonAlgorithm/.vs/JohnsonAlgorithm/FileContentIndex/c6435fbd-6d17-492c-90c3-d779bfa4e683.vsidx
JohnsonAlgorithm/.vs/JohnsonAlgorithm/v17/Browse.VC.db
JohnsonAlgorithm/.vs/JohnsonAlgorithm/v17/Browse.VC.opendb
